<%-include('../partials/header.html')%>
    <link rel="stylesheet" href="/../../css/customer.css">
    <title>Books</title>
    </head>

    <body>

        <%-include('partials/navbar.html')%>
            <div class="container-fluid">
                <div class="row">
                    <%-include('partials/sidebar.html')%>
                        <div class="col-md-10 content">
                         <p class="display-3">Your History</p>

                            <table class="table table-striped table-light table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Book ID</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Publisher</th>
                                        <th scope="col">Edition</th>
                                        <th scope="col">ISBN</th>
                                        <th scope="col">Date Issued</th>
                                        <!-- <th scope="col">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i< res.length; i++){ %>
                                        <tr>
                                            <th scope="row">
                                                <%=res[i].user_id%>
                                            </th>
                                            <td>
                                                <%=res[i].book_id%>
                                            </td>
                                            <td>
                                                <%=res[i].title%>
                                            </td>
                                            <td>
                                                <%=res[i].author%>
                                            </td>
                                            <td>
                                                <%=res[i].publisher%>
                                            </td>
                                            <td>
                                                <%=res[i].edition%>
                                            </td>
                                            <td>
                                                <%=res[i].isbn%>
                                            </td>
                                            <td>
                                                <%=res[i].date%>
                                            </td>

                                        </tr>
                                        <% } %>

                                </tbody>
                            </table>
                        </div>
                </div>
            </div>

            <%-include('../partials/footer.html')%>
